<h1>Hello, Mister Cocktail...</h1>

<div class="center">
  <%= link_to new_cocktail_path do %>
    <button type="button" class="navbar-btn" id="gray">Add new cocktail</button>
  <% end %>
</div>

 <div class="flex-container">
    <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail[:id]) do %>
          <div class="card">
            <div class="title-drink"><%= cocktail.name %></div>
          </div>
        <% end %>
    <% end %>
 </div>






<!-- fixed card layout issue by removing:
""

 now am attempting to add the cocktail name back in the card as an absolute-positioned item.  -->



