<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>

<% @cocktails.each do |cocktail| %>
<h2><%= link_to cocktail.name, cocktail_path(cocktail[:id]) %></h2>
<h3><%= link_to "delete", cocktail_path(cocktail[:id]), method: :delete,
      data: { confirm: "Are you sure?" } %>
</h3>
<% end %>

<h2><%= link_to "New cocktail", new_cocktail_path %></h2>




