// Specific CSS for your home-page
h1 {
  font-family: "Lobster", sans-serif;
  text-align: center;
  margin-bottom: 25px;
  color: black;
}

.page-container {
  width: 100%;
  padding: 75px;
}

#gray {
  background-color: pink;
  font-size: 18px;
  }

  .center {
    text-align: center;
  }

  a:hover {
    text-decoration: none;
  }

