<div class="form-group">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, class: 'form-control' %>
    <%= f.association :ingredient %>
    <%= f.button :submit, class: "btn btn-danger" %>
  <% end %>
</div>
